@import url("../../Styles/Variables.css");
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.profile-lists__search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto 37.5px;
}

.profile-lists__search__label {
  font-size: 2.4rem;
  margin-right: 2%;
}

.profile-lists__search__input {
  width: 40%;
  height: 50px;
  font-family: "FontAwesome";
  font-size: 2rem;
  padding: 0 1% 0 2%;
  border-radius: 10px;
}

.profile-lists__container {
  height: 630px;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto 40px;
  display: flex;
  flex-wrap: wrap;
}

.dashboard__profile__container {
  max-width: 30%;
  width: 100%;
  margin: 10px 1%;
  border: 3.5px solid var(--profile-card);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.dashboard__profile__container--hidden {
  display: none;
}

.dashboard__avatar__photo {
  width: 100%;
}

.dashboard__avatar__photo img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
}

.dashboard__name__rating {
  background: var(--lola);
  height: 120px;
  width: 100%;
  margin: -1px 0 0;
}

.dashboard__name__rating p {
  line-height: 0.8rem;
}

.dashboard__rating__num {
  padding-top: 10px;
  font-size: 2rem;
}

.dashboard__name {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 1.8rem;
  font-weight: 900;
}

.dashboard__speciality {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 1.8rem;
  font-weight: 900;
}

.rating__container {
  margin-top: 10px;
  background-color: white;
  padding-top: 0px;
  display: flex;
  justify-content: center;
}

.dashboard__rating__star {
  padding: 0;
}

.dashboard__rating {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

.dashboard__card__bottom {
  display: flex;
}

.dashboard__card__quotes {
  width: 57%;
}

.dashboard__card__quotes {
  padding: 20px 5% 0;
  font-size: 1.8rem;
  display: flex;
  text-align: center;
}

.dashboard__card__buttons {
  margin-top: 22px;
  padding-left: 12px;
  border-left: 1px solid black;
  text-align: center;
  cursor: pointer;
}

.profile__card__button {
  padding-top: 13px;
}

@media (max-width: 800px) {
  .profile-lists__search__label {
    font-size: 2rem;
    margin-right: 2.25%;
  }

  .profile-lists__search__input {
    width: 45%;
    height: 40px;
    font-family: "FontAwesome";
    font-size: 1.8rem;
    padding: 0 1% 0 2%;
    border-radius: 10px;
  }
}

@media (max-width: 500px) {
  .profile-lists__search {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-lists__search__label {
    margin: 0 0 20px 0;
  }

  .profile-lists__search__input {
    width: 65%;
  }
}
