.footer {
  background-color: black;
  bottom: 0;
  height: 140px;
  display: grid;

  margin: 0 auto;
}

.footer__outer__container {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  /* border: 1px solid white; */
  display: grid;
}

.footer__container {
  display: grid;
  align-content: center;
  justify-content: space-evenly;
}

.footer__container .section {
  display: grid;
  color: white;
  margin-left: 0;
  width: 100%;
  max-width: 100%;
  align-self: center;
  justify-self: center;
  grid-column-gap: 20%;
  line-height: 2.9rem;
  align-content: space-around;
  height: 100%;
}

.footer__container .section p {
  line-height: 2.5rem;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  max-width: 100%;
}

.footer__container .section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  align-self: center;
  justify-self: center;
  max-width: 100%;
}
.footer__container .section p {
  justify-self: center;
  text-decoration: underline;
  font-size: 1.5rem;
}
.footer__copyright {
  color: white;
  align-self: center;
  justify-self: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.footer_logo {
  align-self: center;
  justify-self: center;
  width: 100%;
}
.dad__foot {
  justify-self: center;
}
.section p {
  justify-self: center;
}
.footer__container .section1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.footer__container .section2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.footer__container .section3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.footer__container .footer__copyright__right {
  display: grid;

  height: 100%;
  grid-column: 4/5;
  grid-row: 1/2;
  line-height: 2.5rem;
  align-self: center;
  align-content: space-around;
}

@media (max-width: 722px) {
  .footer {
    height: 400px;
    width: 722px;
    width: 100%;
    max-width: 100%;
  }
  .footer__container .section1 {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 200px;
    border: 2px solid white;
    width: 280px;
    border-left: none;
    border-top: none;
    max-width: 100%;
  }
  .footer__container .section2 {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 200px;
    border: 2px solid white;
    width: 280px;
    border-right: none;
    border-top: none;
    max-width: 100%;
  }
  .footer__container .section3 {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 200px;
    border: 2px solid white;
    width: 280px;
    border-left: none;
    border-bottom: none;
    max-width: 100%;
  }
  .footer__container .footer__copyright__right {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 200px;
    border: 2px solid white;
    width: 280px;
    border-right: none;
    border-bottom: none;
    max-width: 100%;
  }
  .footer_logo {
    width: 100px;
  }
  .footer__container .section {
    grid-column-gap: 0px;
  }
  .footer__container {
    justify-content: center;
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .footer {
    height: 100%;
  }
  .footer__container .footer__copyright__right {
    grid-column: 1/-1;
    grid-row: 1/2;
    border: none;
    border-bottom: 1px solid white;
  }
  .footer__container .section1 {
    grid-column: 1/-1;
    grid-row: 2/3;
    border: none;
    border-bottom: 1px solid white;
  }
  .footer__container .section2 {
    grid-column: 1/-1;
    grid-row: 3/4;
    border: none;
    border-bottom: 1px solid white;
  }
  .footer__container .section3 {
    grid-column: 1/-1;
    grid-row: 4/5;
    border: none;
  }
}
