#otEmbedContainer {
  width: 100%;
  height: 640px;
  margin: 0 auto;
  border: 5px solid black;
}

#otEmbedContainer .Embed .Embed-main {
  margin: 0 auto;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.video__container {
  width: 100%;
  text-align: center;
}

.video__display {
  margin: 0 auto 40px;
  max-width: 1200px;
  width: 100%;
  height: 700px;
}

/* style={{ width: "1800px", height: "1440px" }} */
