@import url("../../Styles/Variables.css");

.home__container {
  width: 100%;
  margin-top: 80px;
}

.home__hero__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.home__title {
  position: absolute;
  bottom: -30px;
  left: 20%;
  height: 100px;
  width: 60%;
  background: rgba(131, 94, 112, 0.6);
  padding: 30px 2%;
  color: var(--home-headline-color);
  font-weight: 900;
  font-size: 3.8rem;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  text-align: center;
}

.home__content {
  max-width: 1000px;
  width: 100%;
  margin: 110px auto 0;
  height: 300px;
}

.category__icon {
  height: 120px;
  width: 120px;
  justify-content: center;
}

.icon__wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 130px auto 0;
  max-width: 1200px;
}

.category__text {
  text-align: center;
  font-size: 2.4rem;

  padding: 20px;
  opacity: 0.99;
  border-radius: 15px;
  margin-top: 20px;
  color: black;
  font-weight: 700;
}
.nathan {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon__container {
  width: 15%;
}

.parent__profile {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .home__title {
    left: 15%;
    font-size: 2.8rem;
    width: 70%;
    height: 75px;
    padding: 25px 1% 15px;
  }
}

@media (max-width: 500px) {
  .home__container {
    margin-top: 60px;
  }

  .home__title {
    left: 10%;
    width: 80%;
    height: 60px;
    font-size: 2.4rem;
    padding: 17.5px 1% 5px;
  }
}
