@import url("../../Styles/Variables.css");

.home__container {
  width: 100%;
  display: grid;
  margin: 0 auto;
}

.home__hero__container {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.home__title {
  position: absolute;
  bottom: -30px;
  left: 20%;
  height: 100px;
  width: 60%;
  background: rgba(131, 94, 112, 0.6);
  padding: 30px 2%;
  color: var(--home-headline-color);
  font-weight: 900;
  font-size: 3.8rem;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  text-align: center;
}

.category__icon {
  height: auto;
  width: 220px;
  max-width: 100%;
  justify-self: center;
  margin-bottom: 10px;
}

.icon__wrapper {
  display: grid;
  margin-left: 4%;
  margin-right: 4%;

  margin-top: 25%;
  margin-bottom: 20%;
}

.icon__container {
  display: grid;
  justify-self: center;
  width: 100%;
  max-width: 100%;
}

.category__text {
  text-align: center;
  font-size: 2.8rem;
  color: black;
  font-weight: 800;
}

.icon__item {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  justify-self: space-around;
}

.item__a {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-content: center;
  margin-bottom: 15%;
}

.item__b {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: center;
  margin-bottom: 15%;
}

.item__c {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-content: center;
  margin-top: 15%;
}

.item__d {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-content: center;
  margin-top: 15%;
}

@media (max-width: 800px) {
  .home__title {
    left: 15%;
    font-size: 2.8rem;
    width: 70%;
    height: 75px;
    padding: 25px 1% 15px;
  }
  .category__icon {
    width: 170px;
  }
  .icon__wrapper {
    margin-bottom: 10%;
  }
}

@media (max-width: 600px) {
  .home__container {
    margin-top: 60px;
  }

  .home__title {
    left: 10%;
    width: 80%;
    height: 60px;
    font-size: 2.4rem;
    padding: 17.5px 1% 5px;
  }
  .category__icon {
    width: 120px;
  }
  .category__text {
    font-size: 2rem;
  }
  @media (max-width: 400px) {
    .home__title {
      height: 80px;
    }
  }
}
