@import "../../Styles/Variables.css";

.navbar__container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--navbar--bg);
  height: 80px;
  padding: 0 2%;
  -webkit-box-shadow: -1px 6px 5px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: -1px 6px 5px -2px rgba(0, 0, 0, 0.12);
  box-shadow: -1px 6px 5px -2px rgba(0, 0, 0, 0.12);
  z-index: 100;
}

.navbar__thumbnail {
  margin: 15px 0 0;
  display: flex;
}

.navbar__logo-image img,
.navbar__username__avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar__logo-image--hidden,
.navbar__username__avatar--hidden {
  display: none;
}

.navbar__username__link {
  font-weight: 800;
  display: inline-block;
  font-size: 2.4rem;
  letter-spacing: 3px;
  width: 200px;
  color: var(--navbar-color);
  margin: 18px 5% 0;
  text-decoration: none;
}

.login__registration {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0;
  width: 300px;
}

.navlink {
  margin-left: 5%;
}

.navbar__button {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 1.4rem;
  background: var(--navbar-btn-bg);
  color: var(--navbar-btn-color);
  font-size: 1.4rem;
  font-family: var(--paragraph-font-family);
  cursor: pointer;
}

.navbar__button:hover {
  border: 2px solid var(--navbar-btn-border-hover);
  color: var(--navbar-btn-color-hover);
  background: var(--navbar-btn-bg-hover);
  transition-duration: 250ms;
  transition-property: all;
}

.navbar__button--hidden {
  display: none;
}

.navlink__chat {
  border-radius: 50%;
}

@media (max-width: 500px) {
  .navbar__container {
    height: 60px;
  }

  .navbar__thumbnail {
    margin: 15px 0 0;
    display: flex;
  }

  .navbar__logo-image img,
  .navbar__username__avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .navbar__username__link {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    width: 75px;
    margin: 10px 0 0 7%;
  }

  .login__registration {
    display: flex;
    justify-content: flex-end;
    margin: 13px 0 0;
    width: 68%;
  }

  .navbar__button {
    height: 35px;
    width: 95px;
  }
}
