.profile__card__avatar {
  width: 100%;
  padding: 0px;
  border-radius: 0%;
  max-width: 100%;

  height: auto;
  border-top-left-radius: 05%;
  border-top-right-radius: 05%;
}
.section__div {
  display: inline-block;
  line-height: 200%;
  max-width: 100%;
}

.profile__card__container {
  display: grid;
  border: 3.5px solid #b79fab;
  width: 100%;
  padding: 0px;
  opacity: 0.9;
  border-radius: 20px;
  max-width: 100%;
  justify-self: center;
}

.profile__card__button {
  height: 40px;
  width: 120px;
  width: 100%;
  border: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 1.4rem;
  background: var(--navbar-btn-bg);
  color: var(--navbar-btn-color);
  font-size: 1.4rem;
  font-family: var(--headers);
  cursor: pointer;
  max-width: 100%;
}
.profile__card__button:hover {
  border: 2px solid var(--navbar-btn-border-hover);
  color: var(--navbar-btn-color-hover);
  background: var(--navbar-btn-bg-hover);
  transition-duration: 250ms;
  transition-property: all;
}
.message__button {
  margin-top: 15px;
}

.star {
  font-size: 25px;
  max-width: 100%;
  padding-bottom: 5%;
  justify-self: center;
  align-self: center;
}

.profile__card__title p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 3.8rem;
  max-width: 100%;
}

.profile__button__container {
  margin-top: 0px;
  display: grid;
  justify-self: center;
  align-self: center;
}

.profile__card__review {
  font-size: 1.5rem;
  width: 140px;
  grid-column: 1/2;
  grid-row: 1/2;
  line-height: 2rem;
  font-weight: 600;
  max-width: 100%;
  border-right: 1.2px solid black;
  padding-right: 10px;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding-bottom: 2px;
}
.button__section {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  max-width: 100%;
  padding-left: 10%;
  justify-self: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.big__section__div {
  width: 100%;

  background: #d7cad1;
  justify-self: center;
  display: grid;
  border-radius: 10%;
}

.line {
  width: 100%;
  margin-top: 0px;
  max-width: 100%;
  height: 0px;
}

.parent__profile {
  display: grid;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 60px;
  margin-bottom: 150px;
  max-width: 100%;
  justify-items: center;
  grid-gap: 2%;
}

.profile__card__container {
  border: 3.5px solid #b79fab;
  width: 100%;
  padding: 0px;
  opacity: 0.9;
  border-radius: 20px;
  max-width: 100%;
}

.big__section__div {
  display: grid;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  padding-bottom: 0%;
  width: 100%;
}
.section__div {
  line-height: 200%;
  max-width: 100%;
  justify-self: center;
  display: grid;
}

.profile__card__button {
  height: 40px;
  width: 90px;

  border: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 1.4rem;
  background: var(--navbar-btn-bg);
  color: var(--navbar-btn-color);
  font-size: 1.2rem;
  font-family: var(--headers);
  cursor: pointer;
  max-width: 100%;
}

.main__profile__wrapper {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: auto;
}
.main__profile__wrapper1 {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: auto;
}
.main__profile__wrapper2 {
  display: grid;
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
  height: auto;
}
.profile__card__avatar {
  width: 100%;
}
@media (max-width: 827px) {
  .profile__card__avatar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .big__section__div {
    width: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .button__section {
    width: 60px;
    align-self: center;
  }
  .profile__card__button {
    font-size: 1rem;
    height: 25px;
  }
  .star {
    font-size: 15px;
  }
  .profile__card__title p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 2rem;
    max-width: 100%;
  }
  .profile__card__review {
    font-size: 1.1rem;
    width: 100px;
    line-height: 1.8rem;
    height: auto;
    padding-bottom: 3px;
  }

  .profile__card__container {
    padding: 0px;
  }
  .star {
    padding-bottom: 3px;
    line-height: 8px;
  }
  .profile__button__container {
    margin-top: 0px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 3px;
    display: grid;
    justify-self: center;
    justify-content: center;
    align-self: center;
  }
  .message__button {
    margin-top: 5px;
  }
}

@media (max-width: 550px) {
  .big__section__div {
    width: 100%;
  }
  .main__profile__wrapper {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .main__profile__wrapper1 {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .main__profile__wrapper2 {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
  }

  .profile__card__button {
    height: 40px;
    width: 160px;
    font-size: 1.5rem;
  }
  .button__section {
    width: 160px;
    padding-bottom: 10px;
    justify-self: center;
  }

  .profile__card__review {
    font-size: 1.6rem;
    width: 200px;
    line-height: 2.4rem;
  }
  .profile__card__title p {
    font-size: 2rem;
  }
  .star {
    font-size: 17px;
    line-height: 1.5rem;
    padding-bottom: 5px;
  }
  .profile__card__title p {
    line-height: 3.3rem;
  }
  .big__section__div {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .profile__card__avatar {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .profile__card__container {
    padding: 0px;
  }
  .profile__button__container {
    padding: 10px;
  }
  .profile__card__button {
    height: 40px;
    width: 160px;
    font-size: 1.5rem;
  }
  @media (max-width: 450px) {
    .profile__card__container {
      justify-self: center;
      width: 300px;
    }
    .profile__card__review {
      padding: 6px;
      width: 120px;
      font-size: 1.5rem;
      justify-self: center;
      align-self: center;
    }
    .button__section {
      align-self: center;
      justify-self: flex-start;
      width: 120px;
      padding: 3px;
    }
    .message__button {
      margin-top: 15px;
    }
    .big__section__div {
      width: 100%;

      justify-self: center;
    }
    .profile__card__avatar div {
      width: 100%;
      justify-self: center;
    }
    .section__div {
      justify-self: center;
      width: 100%;
    }
    .profile__button__container {
      padding: 0px;
      margin: 0px;
      width: 100%;
    }
    .profile__card__title p {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
    .star {
      line-height: 2px;
      padding-top: 4px;
    }
    .profile__card__button {
      font-size: 1.2rem;
      height: 30px;
      width: 150px;
    }
  }
}

@media (max-width: 300px) {
  .profile__card__container {
    justify-self: center;
    width: 230px;
  }
  .profile__card__review {
    padding: 6px;
    width: 120px;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
  }
  .button__section {
    align-self: center;
    justify-self: flex-start;
    width: 70px;
    padding: 3px;
  }
  .big__section__div {
    width: 100%;

    justify-self: center;
  }
  .profile__card__avatar div {
    width: 100%;
    justify-self: center;
  }
  .section__div {
    justify-self: center;
    width: 100%;
  }
  .profile__button__container {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .profile__card__title p {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .star {
    line-height: 2px;
    padding-top: 4px;
  }
  .profile__card__button {
    font-size: 1.2rem;
    height: 30px;
    width: 150px;
  }
}
