/*--- Color Variables ---*/
:root {
  --paragraph-color: var(--black);
  --navbar--bg: var(--dusty-gray);
  --navbar-color: var(--white);
  --navbar-btn-bg: var(--strikemaster);
  --navbar-btn-bg-hover: var(--white);
  --login-btn-bg: var(--dusty-gray);
  --login-btn-color: var(--hint-of-red);
  --login-btn-bg-hover: var(--hint-of-red);
  --login-btn-color-hover: var(--strikemaster);
}

/*--- Color Values ---*/
/*--- colors pulled from http://chir.ag/projects/name-that-color/#6195ED ---*/
:root {
  --saffron: #f7d736;
  --strikemaster: #8e697b;
  --dusty-gray: #b79fab;
  --lola: #d7cad1;
  --hint-of-red: #fbfafa;
  --white: #ffffff;
  --black: #000000;
  --silver: #c0c0c0;
}

/*--- Font Variables ---*/
:root {
  --paragraph-font-family: "Roboto", sans-serif;
  --headers: "Roboto", sans-serif;
}

/*
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
*/
